<h1>Sign In</h1>

<form action="<%=session_url%>" method = "POST">
  <%= auth_token %>
  <label for = "user_username">Username</label>
    <input type = "text" name = "user[username]" id = "user_username" value = "<%@user.username%>">
    <label for = "user_password">Password</label>
    <input type = "text" name = "user[password]" id = "user_password" value = "<%@user.password%>">
    <button>Login</button>

</form>