<h1>New User</h1>
<form action = "<%=users_url%>" method = "post">
    <%=auth_token%>
    <label for = "user_username">Username</label>
    <input type = "text" name = "user[username]" id = "user_username" value = "<%@user.username%>">
    <label for = "user_password">Password</label>
    <input type = "text" name = "user[password]" id = "user_password" value = "<%@user.password%>">
    <button>Submit</button>
</form>
    
