.fa.fa-bars {
	border-color:black;
	font-weight: bold;
	padding: 5px 5px 5px 5px;
	border-radius: 3px;
	transition: 0.3s;
	// text-transform: lowercase;
	font-size: 12px;
	text-align: center;
}

#sections-sidebar-btn:hover{
    background-color: #999;
}

