<h1>New User</h1>


<form action="<%= users_url %>" method = "POST">
  <%= auth_token %>
  <label for ="user_email">Email</label>
  <input type = "text" name = "user[email]" id = "user_email" value = "<% @user.email %>">
  <br>

  <label for ="user_password">Password</label>
  <input type = "password" name = "user[password]" id = "user_password" value = "">
  <br>

  <input type = "submit">





</form>